extends layout

block main
  div#main.row-fluid
    h3#loading-message Loading...

    ul#music-list

block hidden
  div.hidden-wrapper
    div#add-song
      input(type='text', placeholder="♪ Now Dance! ♫")
      div#button-container
        button.button.white(type='cancel') Cancel
        button#ajax-button.button Add!
