extends layout

block main
  div#main.row-fluid
    h3#loading-message Loading...

    ul#music-list

block hidden
  div.hidden-wrapper
    div#add-song
      p Whatch'a looking for?
      input(type='textbox')
