body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #EEE
}

#main {
  margin-left: auto;
  margin-right: auto;
}

#footer {
  text-align: center;
  color: #999;
  text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
  position: absolute;
  bottom: 0;
}

#mail {
  color: #888;
  text-decoration: underline;
  cursor: auto;
}

.button {
  outline: none;
  text-align: center;
  padding: 0.5em 2em .55em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
  border-radius: 2em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  color: #FAE7E9;
  border: solid 1px #B73948;
  background: -webkit-gradient(linear, left top, left bottom, from(#F16C7C), to(#BF404F));
  background: -moz-linear-gradient(top, #F16C7C, #BF404F);
  margin-right: 5px;
}

.button:hover {
  text-decoration: none;
  background: #ba4b58;
  background: -webkit-gradient(linear, left top, left bottom, from(#cf5d6a), to(#a53845));
  background: -moz-linear-gradient(top,  #cf5d6a,  #a53845);
}

.button:active {
  position: relative;
  top: 1px;
  color: #dca4ab;
  background: -webkit-gradient(linear, left top, left bottom, from(#bf404f), to(#f16c7c));
  background: -moz-linear-gradient(top,  #bf404f,  #f16c7c);
}

.white:hover {
  background: #EDEDED;
}

.white:active {
  color: #999;
}

.white {
  color: #606060;
  border: solid 1px #B7B7B7;
  background: white;
  text-shadow: none;
}

#add-container {
  margin-top: 20px;
  margin-right: 10px;
  top: 50%;
}

.title {
  font-family: 'Lobster', cursive;
  font-size: 500%;
  margin: 5px;
}

.play-container {
  margin-left: 10px;
  float: left;
  display: block;
  line-height: 50px;
}

.play-icon {
  height: 50px;
}

.queue-number {
  float: right;
  display: inline-block;
  line-height: 50px;
  margin-right: 10px;
}

.song-name {
  margin-left: 10px;
  line-height: 50px;
  display: inline-block;
}

li {
  background: #FFF;
  padding: 0.3em;
  list-style-type: none;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
  margin-bottom: 4px;
  overflow: hidden;
}

ul {
  padding: 0;
}

.striped {
  background: #F5F5F5;
}

.hidden-wrapper {
  display: none;
}



input[type="text"] {
  background-color: white;
  border: 1px solid #CCC;
  border-radius: 3px;
  font-size: 300%;
}

input[type="text"]:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

#button-container {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-top: 4px;
  margin-bottom: 2px;
}

#modal-title-text {
  text-align: center;
  right: 0;
  color: #222;
}
